@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
  --color-dark: #0b0b0d;
  --color-pink: #d9297b;
  --color-rose: #F235B0;
  --color-yellow: #F2D027;
  --color-white: #fff;

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body{
  font-family: "Bebas Neue", sans-serif;
  color: var(--color-white);
  background: var(--color-dark);
  overflow-x: hidden;
}
/* 
.container{
  width: 80%;
  margin: 0 auto;
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
